/* ---------------------------------------------
   HTML ELEMENTS
----------------------------------------------- */

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	background: #b0b2b3 url(bg1.jpg) repeat-y center top;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #000;
	text-align: center;
}

/* links */
a, a:visited {
	color: #dd193b;
	background: inherit;
	text-decoration: none;
}
a:hover {
	color: #fd1c43;
	background: inherit;
	text-decoration: underline;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold;
}
h1 {
	font-size: 240%;
	padding: 15px 10px 5px 10px;
	letter-spacing: -1px;
}
h2 {
	font-size: 220%;
	color: #5c5c5c;
	padding: 12px 10px 5px 10px;
}
h3 {
	font-size: 140%;
	padding: 12px 10px 5px 10px;
    color: #0d3e56
}

p {
	padding: 10px;
	margin: 0;
}
ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}
ul { list-style: none; }

/* images */
img {
	background: #FAFAFA;
    border: 1px solid #DCDCDC;
	padding: 8px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 5px 0;
  	padding: 10px;
  	text-align: left;
  	display: block;
  	overflow: auto;
  	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  	/* white-space: pre; */
  	background: #F9F7DD;
	border: 1px solid #E0DBC9;
}
/*acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 25px;
   background: #F9F7DD;
	border: 1px solid #E0DBC9;
	font: bold 15px/1.5em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #563E24;
} */

/* form elements */
form {
	margin:10px; padding: 10px 8px;
	background: #fff;
	border: 1px solid #E0DBC9;
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input, select, textarea {
	padding: 5px;
	font: normal 1em Verdana, Tahoma, sans-serif;
	color:#777;
	background: #FAFAFA;

  	border-width: 1px;
  	border-style: solid;
  	border-color: #D4D4D4 #ebebeb #ebebeb #d4d4d4;
}
textarea {
	width: 400px;
	height: 100px;
	display: block;
}
input.button {
	font: bold 12px Arial, Sans-serif;
	height: 24px;
	margin: 0;
	padding: 2px 3px;
	color: #FFF;
	background: #5c5c5c;

}

/* ------------------------------------------
   LAYOUT
------------------------------------------- */
#wrap {
	position: relative;
	width: 830px;
	margin: 0 auto;
	text-align: left;
	border-right: 5px solid #FFF;
	border-left: 5px solid #FFF;
}
#content-wrap {
	position: relative;
	clear: both;
	float: left;
	width: 830px;
	padding: 0;
	border-bottom: 2px solid #FFF;
	background: #E2DDD9 repeat-y center top;
	display: inline;
}
#header {
	width: 800px;
	position: relative;
	height: 330px;
	padding: 4;
	color: #FFF;
}

.fadein { position:relative; width:800px; height:300px; }
.fadein img { position:absolute; left:0; top:0; padding:0}

#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	/* font: bold 60px 'Trebuchet MS', Arial, Sans-serif; */
    font: bold 60px Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: -2px;
	color: #dd193b;
	text-decoration: none;

	/* change the values of top and left to adjust the position of the logo*/
	top: 5px; left: 15px;
}
#header h1#logo-text span {
	color: #FFF;
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 16px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #505050;

	/* change the values of top and left to adjust the position of the slogan*/
	top: 65px; left: 45px;
}

/* header links */
/*#header #header-links {
	position: absolute;
	top: 23px; right: 5px;
	color: #34160B;
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-size: 13px;
	font-weight: bold;
}
#header #header-links a {
	color: #5E2813;
	text-decoration: none;
}
#header #header-links a:hover {
	color: #BE420D;
} */

/* Navigation */
#nav {
	position: relative;
	clear: both;
	padding: 0;
	width: 830px;
	margin: 0 auto;
	background: url(menubg.jpg) repeat-x;
	height: 52px;
}
#nav #lightline {
	position: absolute;
	background: url(lightline.jpg) no-repeat;
	height: 10px; width: 280px;
	top: 1px; left: 0px;
}
#nav ul {
	position: absolute;
	list-style: none;
	text-transform: uppercase;
	padding: 0;	margin: 0;
	right: 0; bottom: 0;
}
#nav ul li {
	display: inline;
	margin: 0; padding: 0;
}
#nav ul li a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 15px;
	color: #FFF;
	font: bold 13px/52px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
#nav ul li a:hover,
#nav ul li a:active {
	background: url(menupointer.jpg) no-repeat center bottom;
}
#nav ul li#current a {
	background: url(menupointer.jpg) no-repeat center bottom;
	color: #FFF;
}
\
/* footer*/
#footer {
	clear: both;
	color: #FFF;
	width: 830px;
    padding: 5px 0 15px 0;
	text-align: center;
}
#footer a {
	color: #0d3e56;
    text-decoration: none;
}

/* Post Meta */
.post-meta {
	background: #fff;
	padding: 5px; margin: 5px 10px;
	border: 1px solid #E0DBC9;
}
.post-meta .date { margin: 0 10px 0 5px; }
.post-meta a.comments { margin: 0 10px 0 5px;	}
.post-meta a.readmore { margin: 0 10px 0 5px;	}

.post-info { font-size: .9em; padding: 0 10px 5px 10px; color: #0d3e56; 	}
.post-info a { color: #668208; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clearer { clear: both; }
.clear {
	display:inline-block;
}
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content: ".";
}
