
.sponsor img {
    max-height: 50%;
    max-width: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
#sponsor-banner {
    position: relative;
    max-height: 50px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 2px solid #333
}
#sponsor-banner .sponsor {
    max-height: 50px;
    max-width: 20%;
    margin: 15px 2%;
    display: block;
    padding: 20% 5px;
    margin: 0;
}


@media only screen and (max-width: 50em) {
#sponsor-section .sponsor img {
    position: relative;
    max-height: 100px;
    padding: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
}
